<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css.css">
    <title>Diogo</title>
</head>
<body>
    <header>
        <nav id="nav_bar">
            <div id="nav_bar_Menu">
                Home
            </div>
        </nav>
    </header>

    <h1>Desenvolvedor Frontend Developer</h1>

    <p>
        teste
    </p>
    
    <footer id="footer">
        footer
    </footer>
</body>
</html>